equipos {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    
}

equipo  {
    background-color: lightblue;
    height: 520px;
    width: 200px;
    display: flex;
    border: 3px solid blue;
    margin: 50px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    padding:30px;
    
    

}

nombre  { 
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: underline;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 150px;
    text-align: center;
    
}

liga    {
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 150px;
    text-align: center;
}
    

ciudad  { 
    background-color: darkkhaki;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 150px;
    text-align: center;
        

}

estadio { 
    background-color: lightsalmon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 150px;
    text-align: center;
}

presidente  { 
    background-color: palevioletred;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 150px;
    text-align: center;
}
entrenador  { 
    background-color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 150px;
    text-align: center;
}

patrocinador    { 
    background-color: palegreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 150px;
    text-align: center;
}

capitan { 
    background-color: lightskyblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 150px;
    text-align: center;
}